.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
}

.grid-containerc{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
}

.txtEntry{
    text-align: center;
    grid-column: span 1;
    grid-row: span 1;
    font-size: 24px;
}

.title4{
    text-align: center;
    grid-column: span 4;
    grid-row: span 1;
}

.title2{
    text-align: center;
    grid-column: span 2;
    grid-row: span 1;
}

.image{
    /* border: solid black; */
    grid-column: span 2;
    grid-row: span 3;
}

.totalValues{
    grid-column: span 2;
    grid-row: span 2;
}

.mealCals{
    
    grid-column: span 2;
    grid-row: span 1;
}

.chart{
    height: 350px;
    grid-column: span 2;
    grid-row: span 1;
}

.btns{
    grid-column: span 1;
    grid-row: span 1;
    margin: auto;
}
.dataTables{
    margin-left: 10%;
    margin-right: 10%;
    grid-column: span 2;
    grid-row: span 1;
}

.goalTable{
    grid-column: span 2;
    grid-row: span 1;
}

button{
    text-align: center;
    background-color: #068d9d;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

button:hover{
    background-color: #36bdcd;
    color: black;
}

input::file-selector-button{
    background-color: #068d9d;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

input::file-selector-button:hover{
    background-color: #36bdcd;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  td {
    text-align: left;
    padding: 8px;
  }

  th {
    text-align: left;
    padding: 8px;
    background-color: #bac4b3;
  }

form{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-column: span 2;
    /* background-color: red; */
}

label {
    display: grid;
    text-align: right;
    margin-right: 20%;
    margin-left: auto;
    grid-column: span 1;
    font-size: 20px;
    /* background-color: blue; */
}

input{
    display: grid;
    margin: auto;
    justify-content: center;
    grid-column: span 1;
    font-size: 20px;
    /* background-color: yellow; */
}

input[type=submit]{
    background-color: #068d9d;
    font-size: 20px;
    width: 150px;
    height: 50px;
    grid-column: 2/3;
}

input[type=submit]:hover{
    background-color: #36bdcd;
    color: black;
}

