<!DOCTYPE html>
<html>
    <head>
        <title>Confirm Data</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body style="background-color: #CCD7C5;">
        <div class="grid-containerc">
            <div class="title2"><h1>Confirm Data</h1></div>
            <div class="grid-containerc">
                <label class="clabel" for="mealchoice">Meal:</label>
                <select style="grid-column: span 1;" name="mealchoice" id="mealchoice">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                </select>
            </div>
            <div style="grid-column: span 1;">
              <form id="my-form">
                <label class="clabel" for="servingsize">Serving size:</label>
                <input style="margin-right: 100%;" type="number" id="servingsize" name="servingsize" value="1" min="1" max="100">
                <!-- <button type="submit">Update</button> -->
              </form>
            </div>
            <div class="dataTables">
                <table id="table4"style="width: 100%;">
                    <tr>
                        <th colspan="2" style="text-align: center; border: 1px solid black;">Data Gathered</th>
                    </tr>
                    <tr>
                      <th>Nutrition</th>
                      <th style="border-left: 1px solid black;">Values</th>
                    </tr>
                  </table>
            </div>
            <script>
              const fetchJSON = async () => {
                const response = await fetch('http://localhost:8000/ocr_results.json');
                const data = await response.json();
                return data;
              };

              const createConfirmTable = (totalNutrition) => {
                let table = document.getElementById('table4');
                Object.keys(totalNutrition).forEach((key, columnIndex) => {
                  let tableRow = document.createElement('tr');
                  let tableHeaderCell = document.createElement('th');
                  tableHeaderCell.textContent = key;
                  let tableCell = document.createElement('td');
                  tableCell.textContent = totalNutrition[key];
                  tableCell.id = key;
                  tableRow.appendChild(tableHeaderCell);
                  tableRow.appendChild(tableCell);
                  table.appendChild(tableRow);
                });
              };

              const updateData = async (servingsize) => {
                const data = await fetchJSON();
                const nutrition = [
                  "calories", 
                  "carbohydrates", 
                  "cholesterol", 
                  "fiber", 
                  "mono_fat", 
                  "poly_fat", 
                  "potassium", 
                  "protein", 
                  "saturated_fat", 
                  "sodium", 
                  "sugars", 
                  "total_fat", 
                  "trans_fat"
                ];
              const newNutrition = {};

              data.forEach((item) => {
                for (let property in item) {
                  if (item[property] === null) {
                    item[property] = "0";
                  }
                }
              });

              nutrition.forEach((property) => {
                newNutrition[property] = data.reduce((sum, item) => {
                  return parseFloat(item[property]);
                }, 0) * servingsize;
              });

              const table = document.getElementById('table4');
              Object.keys(newNutrition).forEach((key) => {
                const cell = table.querySelector(`#${key}`);
                cell.textContent = newNutrition[key];
              });
              };

              document.getElementById('my-form').addEventListener('submit', (event) => {
              event.preventDefault();
              const servingsizeElement = document.getElementById("servingsize");
              const servingsizeValue = servingsizeElement.value;
              updateData(servingsizeValue);
              });

              fetchJSON()
              .then((data) => {
                const nutrition = [
                "calories", 
                "carbohydrates", 
                "cholesterol", 
                "fiber", 
                "mono_fat", 
                "poly_fat", 
                "potassium", 
                "protein", 
                "saturated_fat", 
                "sodium", 
                "sugars", 
                "total_fat", 
                "trans_fat"
              ];
              const totalNutrition = {};

              data.forEach((item) => {
                for (let property in item) {
                  if (item[property] === null) {
                    item[property] = "0";
                  }
                }
              });
              nutrition.forEach((property) => {
                totalNutrition[property] = data.reduce((sum, item) => {
                  return parseFloat(item[property]);
                }, 0);
              });
            
              createConfirmTable(totalNutrition);
              })
              .catch((error) => {
                console.error(error);
              });
            </script>

            <div class="btns"><button id="submitbtn">
              <a href="{{url_for('index')}}">Cancel</a>
            </button></div>

            <div class="btns" ><button id="cancelbtn">
              <a href="{{url_for('index')}}">Submit</a>
            </button></div>

        </div>
    </body>
</html>