<!DOCTYPE html>
<html>
    <head>
        <title>AddEntry</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body style="background-color: #CCD7C5;">
        <div class="grid-container">
            <div class="title4"><h1>Upload Page</h1></div>
            <div class="image">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" style="width: 100%; height: auto; margin:auto;">
            </div>
            <div class="btns">
                <button class="importImage">Import Image</button>
            </div>
            <div class="btns">
                <button class="takePicture">Take Picture</button>
            </div>
            <div class="dataTables">
                <table id="table3"style="width: 100%;">
                    <tr>
                        <th colspan="2">Data Gathered</th>
                    </tr>
                    <tr>
                      <th>Nutrition</th>
                      <th>Values</th>
                    </tr>
                  </table>
            </div>
            <script>
              const fetchJSON = async () => {
                const response = await fetch('http://localhost:8000/ocr_results.json');
                const data2 = await response.json();
                return data2;
              }

              const createInputTable = (nutrition) => {
                console.log("createTable called")
                let table = document.getElementById('table3');

                  // Create table rows and cells
                  Object.keys(nutrition).forEach((key, columnIndex) => {
                    let tableRow = document.createElement('tr');
                    let tableHeaderCell = document.createElement('th');
                    tableHeaderCell.textContent = key;
                    let tableCell = document.createElement('td');
                    tableCell.textContent = nutrition[key];
                    tableCell.id = key;
                    tableRow.appendChild(tableHeaderCell);
                    tableRow.appendChild(tableCell);
                    table.appendChild(tableRow);
                  });
              };

              fetchJSON()
                .then((data2) => {
                  const nutrition = [
                    "calories", 
                    "carbohydrates", 
                    "cholesterol", 
                    "fiber", 
                    "mono_fat", 
                    "poly_fat", 
                    "potassium", 
                    "protein", 
                    "saturated_fat", 
                    "sodium", 
                    "sugars", 
                    "total_fat", 
                    "trans_fat"
                  ];
                  const totalNutrition = {};

                  data2.forEach((item) => {
                    for (let property in item) {
                      if (item[property] === null) {
                        item[property] = "0";
                      }
                    }
                  });
                  nutrition.forEach((property) => {
                    totalNutrition[property] = data2.reduce((sum, item) => {
                      return sum + parseFloat(item[property]);
                    }, 0);
                  });
                
                  createInputTable(totalNutrition);
                })
                .catch((error) => {
                  console.error(error);
                });
            </script>
            <div class="btns">
                <button class="cancelbtn">
                  <a href="{{url_for('index')}}">Cancel</a>
                </button>
            </div>
            <div class="btns">
                <button class="continuebtn">
                  <a href="{{url_for('confirm')}}">Continue</a>
                </button>
            </div>
        </div>
    </body>
</html>