<!DOCTYPE html>
<html>
    <head>
        <title>AddEntry</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body style="background-color: #CCD7C5;">
        <div class="grid-container">
            <div class="title4"><h1>Upload Page</h1></div>
            <div class="image">
                <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" style="width: 100%; height: auto; margin:auto;">
            </div>
            <div class="btns">
                <button class="importImage">Import Image</button>
            </div>
            <div class="btns">
                <button class="takePicture">Take Picture</button>
            </div>
            <div class="dataTables">
                <table style="width: 100%;">
                    <tr>
                        <th colspan="2">Data Gathered</th>
                    </tr>
                    <tr>
                      <th>Nutrition</th>
                      <th>Values</th>
                    </tr>
                    <tr>
                      <td>Calories:</td>
                      <td class="calVal">10</td>
                    </tr>
                    <tr>
                      <td>Carbes:</td>
                      <td class="carbVal">null</td>
                    </tr>
                    <tr>
                      <td>Cholesterol:</td>
                      <td class="cholVal">null</td>
                    </tr>
                    <tr>
                      <td>Fiber:</td>
                      <td class="fiberVal">null</td>
                    </tr>
                    <tr>
                      <td>Mono Fat:</td>
                      <td class="monoVal">null</td>
                    </tr>
                    <tr>
                      <td>Poly Fat:</td>
                      <td class="polyVal">null</td>
                    </tr>
                    <tr>
                      <td>Potassium:</td>
                      <td class="PotVal">null</td>
                    </tr>
                    <tr>
                      <td>Protein:</td>
                      <td class="ProVal">null</td>
                    </tr>
                    <tr>
                      <td>Saturated Fat:</td>
                      <td class="SatVal">null</td>
                    </tr>
                    <tr>
                      <td>Sodium:</td>
                      <td class="SodVal">null</td>
                    </tr>
                    <tr>
                      <td>Sugars:</td>
                      <td class="SugVal">null</td>
                    </tr>
                    <tr>
                      <td>Total Fat:</td>
                      <td class="TotalVal">null</td>
                    </tr>
                    <tr>
                      <td>Trans Fat:</td>
                      <td class="TransVal">null</td>
                    </tr>
                  </table>
            </div>
            <div class="btns">
                <button class="cancelbtn">
                  <a href="{{url_for('index')}}">Cancel</a>
                </button>
            </div>
            <div class="btns">
                <button class="continuebtn">
                  <a href="{{url_for('confirm')}}">Continue</a>
                </button>
            </div>
        </div>
    </body>
</html>