<!DOCTYPE html>
<html>
    <head>
        <title>AddEntry</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <!-- <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" /> -->
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
        <meta charset=utf-8 />
    </head>
    <body style="background-color: #CCD7C5;">
        <div class="grid-container">
            <div class="title4"><h1>Upload Page</h1></div>
            <div class="image">
                <img id="blah" src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" style="width: 100%; height: auto; margin:auto;" alt="your image" />
              </div>
              <div class="btns">
                <input id="import-button" type="file" onchange="readURL(this);" type="click"/>
            </div>
            <div class="btns">
                <button class="takePicture">Take Picture</button>
            </div>
            <div class="dataTables">
                <table id="table3"style="width: 100%;">
                    <tr>
                        <th colspan="2">Data Gathered</th>
                    </tr>
                    <tr>
                      <th>Nutrition</th>
                      <th>Values</th>
                    </tr>
                  </table>
            </div>
            <script>
              const fetchJSON = async () => {
                const response = await fetch('http://localhost:8000/ocr_results.json');
                const data2 = await response.json();
                return data2;
              }

              const createInputTable = (nutrition) => {
                console.log("createTable called")
                let table = document.getElementById('table3');
                table.innerHTML = '';

                // Check if there are already two rows in the table
                let existingRows = table.getElementsByTagName('tr');
                if (existingRows.length < 2) {
                  // If not, add the first two rows
                  let tableHeaderRow = document.createElement('tr');
                  let tableHeaderCell = document.createElement('th');
                  tableHeaderCell.setAttribute('colspan', '2');
                  tableHeaderCell.textContent = 'Data Gathered';
                  tableHeaderRow.appendChild(tableHeaderCell);
                  table.appendChild(tableHeaderRow);

                  let tableRow = document.createElement('tr');
                  let tableHeaderCell1 = document.createElement('th');
                  let tableHeaderCell2 = document.createElement('th');
                  tableHeaderCell1.textContent = 'Nutrition';
                  tableHeaderCell2.textContent = 'Values';
                  tableRow.appendChild(tableHeaderCell1);
                  tableRow.appendChild(tableHeaderCell2);
                  table.appendChild(tableRow);
                }

                // Create table rows and cells for nutrition data
                Object.keys(nutrition).forEach((key, columnIndex) => {
                  let tableRow = document.createElement('tr');
                  let tableHeaderCell = document.createElement('th');
                  tableHeaderCell.textContent = key;
                  let tableCell = document.createElement('td');
                  tableCell.textContent = nutrition[key];
                  tableCell.id = key;
                  tableRow.appendChild(tableHeaderCell);
                  tableRow.appendChild(tableCell);
                  table.appendChild(tableRow);
                });
              };


              const importButton = document.getElementById('import-button');
              importButton.addEventListener('click', async (event) => {
                event.preventDefault();
                const data2 = await fetchJSON();
                fetchJSON()
                  .then((data2) => {
                    const nutrition = [
                    "calories", 
                    "carbohydrates", 
                    "cholesterol", 
                    "fiber", 
                    "mono_fat", 
                    "poly_fat", 
                    "potassium", 
                    "protein", 
                    "saturated_fat", 
                    "sodium", 
                    "sugars", 
                    "total_fat", 
                    "trans_fat"
                  ];
                  const Nutrition = {};

                  data2.forEach((item) => {
                    for (let property in item) {
                      if (item[property] === null) {
                        item[property] = "0";
                      }
                    }
                  });
                  nutrition.forEach((property) => {
                    Nutrition[property] = data2.reduce((sum, item) => {
                      return parseFloat(item[property]);
                    }, 0);
                  });
                
                  createInputTable(Nutrition);
                  })
                  .catch((error) => {
                    console.error(error);
                  });
              });
              
              createInputTable({
                calories: 0,
                carbohydrates: 0,
                cholesterol: 0,
                fiber: 0,
                mono_fat: 0,
                poly_fat: 0,
                potassium: 0,
                protein: 0,
                saturated_fat: 0,
                sodium: 0,
                sugars: 0,
                total_fat: 0,
                trans_fat: 0
              });

              function readURL(input) {
                console.log("readURL called")
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#blah')
                                .attr('src', e.target.result);
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                }
            </script>
            <div class="btns">
                <button class="cancelbtn">
                  <a href="{{url_for('index')}}">Cancel</a>
                </button>
            </div>
            <div class="btns">
                <button class="continuebtn">
                  <a href="{{url_for('confirm')}}">Continue</a>
                </button>
            </div>
        </div>
    </body>
</html>