<!DOCTYPE html>
<html>
    <header>
        <title>Nutrition Tracker</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        
    </header>
    <!-- grey because working on this at 4am is too bright -->
    <body style="background-color: #CCD7C5;">
      <div class="grid-container">
        <div class="title4"><h1 style="text-align: center;">Nutrition Tracker</h1></div>
        <div class="chart"><canvas id="totalChart"></canvas></div>
        <div class="chart"><canvas id="mealChart"></canvas></div>
        <div class="totalValues">
          <table class="table_1"id="table1">
            <thead class="th">
              <tr>
                <th>Nutrient</th>
                <th>Amount</th>
              </tr>
            </thead>
          </table>
        </div>
        <script class="totalValues">
          
          //Run server.js before loading page
          const fetchJSON = async () => {
            const response = await fetch('http://localhost:8000/labelList.json');
            const data = await response.json();
            return data;
          }

          const createTotalTable = (totalNutrition) => {
            console.log("createTable called")
            let table = document.getElementById('table1');

              // Create table rows and cells
              Object.keys(totalNutrition).forEach((key, columnIndex) => {
                let tableRow = document.createElement('tr');
                let tableHeaderCell = document.createElement('th');
                tableHeaderCell.textContent = key;
                let tableCell = document.createElement('td');
                tableCell.textContent = totalNutrition[key];
                tableCell.id = key;
                tableRow.appendChild(tableHeaderCell);
                tableRow.appendChild(tableCell);
                table.appendChild(tableRow);
              });
          };


          fetchJSON()
            .then((data) => {
              const nutrition = [
                "calories", 
                "carbohydrates", 
                "cholesterol", 
                "fiber", 
                "mono_fat", 
                "poly_fat", 
                "potassium", 
                "protein", 
                "saturated_fat", 
                "sodium", 
                "sugars", 
                "total_fat", 
                "trans_fat"
              ];
              const totalNutrition = {};

              data.forEach((item) => {
                for (let property in item) {
                  if (item[property] === null) {
                    item[property] = "0";
                  }
                }
              });
              nutrition.forEach((property) => {
                totalNutrition[property] = data.reduce((sum, item) => {
                  return sum + parseFloat(item[property]);
                }, 0);
              });

              const groups = ["Breakfast", "Lunch", "Dinner", "Snack"];
              const groupTotals = {};
              
              // Sum up the total calories for each food group
              data.forEach((item) => {
                const group = item.group;
                if (groups.includes(group)) {
                  if (groupTotals[group] === undefined) {
                    groupTotals[group] = 0;
                  }
                  groupTotals[group] += parseFloat(item.calories);
                }
              });
            
              createTotalTable(totalNutrition);
              generateTotalPieChart(totalNutrition);
              createGroupTable(groupTotals);
              generateGroupPieChart(groupTotals);
            })
            .catch((error) => {
              console.error(error);
            });
        
        
        // var table = document.querySelector("#myTable");
  
        // for (var i = 0; i < tvalues.length; i++) {
                   
        //    // Create a new row
        //     trow = table.insertRow(-1);
        //     for (var j = 0; j < cols.length; j++) {
        //       var cell = trow.insertCell(-1);
                          
        //       // Inserting the cell at particular place
        //       cell.innerHTML = tvalues[i][cols[j]];
        //     }
        //   }
                
        //   // Add the newly created table containing json data
        //   var el = document.getElementById("myTable");
        //   el.innerHTML = "";
        //   el.appendChild(table);
  
  
  
        </script>  
        <div class="mealCals">
          <table class="table" id="table2"style="width: 100%;">
            <tr>
              <th>Meal</th>
              <th>Calories</th>
            </tr>
          </table>
        </div>
        <script>
          const createGroupTable = (groupTotals) => {
            let groupTable = document.getElementById('table2');
            // Create table rows and cells
            Object.keys(groupTotals).forEach((key) => {
              let tableRow = document.createElement('tr');
              let tableHeaderCell = document.createElement('th');
              tableHeaderCell.textContent = key;
              let tableCell = document.createElement('td');
              tableCell.textContent = groupTotals[key].toFixed(2);
              tableRow.appendChild(tableHeaderCell);
              tableRow.appendChild(tableCell);
              groupTable.appendChild(tableRow);
            });
          };

        </script>
        <div class="btns">
          <button type="button" class="delbtn">Delete Entry</button>
        </div>
        <div class="btns">
          <button type="button" class="addbtn" id="addbtn">
            <a href="{{url_for('entry')}}">Add Entry</a>
          </button>
          
        </div>
        <div class="goalTable">    
          <table class="table1" id="user_goals">
            <thead class="th">
              <tr>
                <th>Goal</th>
                <th>Amount</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="btns"><button type="button" reminder" onclick="getGoals()">Remind me of my Goals</button></div>
        <div class="btns"><button type="button" id="'addGoal"><a href="{{url_for('input')}}">Add Goal</a> </button></div>
      </div>
      <script src="../static/js/scripts.js"></script>
    </body>
</html>