<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body style="background-color: #CCD7C5;">

        <!--Input form for users to input their goals-->
        <div class="grid-containerc">
            <div class="title2"><h1 style="text-align: center;">Goals</h1></div>
            <form method="post">
                <label for="calories">Calories:</label>
                <input type="number" id="calories" name="calories" required>
                <label for="carbs">Carbs:</label>
                <input type="number" id="carbs" name="carbs" required>
                <label for="cholesterol">Cholesterol:</label>
                <input type="number" id="cholesterol" name="cholesterol" required>
                <label for="fiber">Fiber:</label>
                <input type="number" id="fiber" name="fiber" required>
                <label for="monoFat">Mono Fat:</label>
                <input type="number" id="monoFat" name="monoFat" required>
                <label for="polyFat">Poly Fat:</label>
                <input type="number" id="polyFat" name="polyFat" required>
                <label for="potassium">Potassium:</label>
                <input type="number" id="potassium" name="potassium" required>
                <label for="protein">Protein:</label>
                <input type="number" id="protein" name="protein" required>
                <label for="satFat">Saturated Fat:</label>
                <input type="number" id="saturatedFat" name="saturatedFat" required>
                <label for="sodium">Sodium:</label>
                <input type="number" id="sodium" name="sodium" required>
                <label for="sugar">Sugar:</label>
                <input type="number" id="sugar" name="sugar" required>
                
                <input type="submit" value="Submit">
            </form>
        </div>

        
        <script src="../static/js/scripts.js" async defer></script>
    </body>
</html>